.topMenu{
    display: flex;
    justify-content: end;
    gap: 30px;
    background-color: #333;
    padding: 15px;
}
.topMenu a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.imgBox{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}