.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  
  flex-direction: row;  
  min-height: 100vh;
}

.movie-item {
  width: 200px;
  text-align: center;
}

.movie-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.2s;
}

.movie-item img:hover {
  transform: scale(1.05);
}

.movie-item h3 {
  margin-top: 10px;
  font-size: 1.1rem;
}

/* Link 태그의 기본 스타일 제거 */
.movie-item a {
  text-decoration: none;
  color: inherit;
}